footer.footer.bg-black.text-white.fixed-bottom
  .container.text-center
    .row
      .col-md-4
        h5 Quick Links
        ul.list-unstyled
          li
            a(href="/", class="footer-link") Stream
          li
            a(href="/video/new", class="footer-link") Upload
          li
            a(href="/about", class="footer-link") About
      .col-md-4
        h5 Follow Us
        ul.list-unstyled.social-icons
          li
            a(href="https://www.facebook.com/", class="text-white", target="_blank")
              i.fab.fa-facebook-f
          li
            a(href="https://twitter.com/", class="text-white", target="_blank")
              i.fab.fa-twitter
          li
            a(href="https://www.instagram.com/", class="text-white", target="_blank")
              i.fab.fa-instagram
      .col-md-4
        h5 Contact
        p For any questions or assistance:
        p
          a(href="mailto:contact@yoursite.com", class="footer-link") contact@yoursite.com
