extends layout

block content
  .container
    h1 À propos de nous
    p
    p Welcome to our video streaming platform. We are dedicated to providing quality content to our users.
    p &copy; 2023 Streaming App. All rights reserved.

